# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.env

# Data and models (keep these out of the public repo)
/data/
models/
private/
*.joblib
*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store

# Logs
*.log

# Editor
.vscode/
.idea/

# Archives
archive/
